Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==0.8.2
Werkzeug==0.10.4
argparse==1.2.1
itsdangerous==0.24
-e git+https://idansoggii@bitbucket.org/idansoggii/kennel.git@9a271ad86ea56a26c8b9038a24dcecdb01488159#egg=kennel-origin/HEAD
protlib==1.4
protlibtcpserver==0.1
wsgiref==0.1.2
